# Puerto del servidor
PORT=3000

# Conexión a la base de datos PostgreSQL con Prisma
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/startec_db?schema=public"

# Clave secreta para JWT
JWT_SECRET="startec_super_secret_jwt_key_2026"
JWT_EXPIRES_IN="7d"
